{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center" >Объявления</h2>
<form action="" method="post">
    <p>{{ form.words.label }}<br>
            {{ form.words(class="form-control") }}
            {% for error in form.words.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
    <p>{{ form.radius.label }}<br>
            {{ form.radius(class="form-control") }}
            {% for error in form.radius.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
    <p>{{ form.not_show() }} {{ form.not_show.label }}</p>
<p>{{ form.submit( class="btn btn-primary") }}</p>
    {% if message %}
        <div class="alert alert-danger" role="alert">
                    {{ message }}
        </div>
    {% endif %}
</form>
<p></p>
{% if books == [] %}
<p class="text-light">К сожалению, в данный момент объявлений нет.</p>
{% endif %}
{% for book in books %}
<div class="container-sm">
    <table width="100%" cellspacing="0" cellpadding="10">
        <tr>
    <td><h3 class="text">"{{ book.title }}" {{ book.author }}</h3></td>
    <td align="right"><p class="text-secondary">{{ names[book.owner][0] }} {{ names[book.owner][1] }}</p></td>
        </tr>
        <tr>
    <td><table>
        <tr><td class="ordinary" align="left"><h6 class="text">Год издания: {{ book.year }}</h6></td></tr>
        <tr><td class="ordinary" align="left"><h6 class="text">Состояние: {{ book.condition.lower() }}</h6></td></tr>
        <tr><td class="ordinary" align="left"><h6 class="text">Цена: {{ book.price }}₽</h6></td></tr>
    </table></td>
    <td align="right"><a class="btn btn-success" href="/about_book/aa">Подробнее</a></td>
        </tr>
    </table>
</div>
<br>
{% endfor %}
{% endblock %}